#content {
  font-family: 'Verdana';
  text-align: center;
}

input {
  margin: 10px;
}

.view-link {
  margin: 5px 20px;
  cursor: pointer;
  text-decoration: underline;
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background: rgb(73, 153, 177);
  border-radius: 2px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.submit {
  background: #69a74e;
}
